[submodule "fairshare-backend"]
	path = fairshare-backend
	url = https://github.com/PratypartyY2K/fairshare-backend.git
[submodule "fairshare-frontend"]
	path = fairshare-frontend
	url = https://github.com/PratypartyY2K/fairshare-frontend.git
