spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/fairshare
    username: fairshare_user
    password: fairshare_pass
  jpa:
    hibernate:
      ddl-auto: update
    #    show-sql: true
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  jackson:
    time-zone: America/New_York
  devtools:
    restart:
      enabled: true
  management:
    endpoints:
      web:
        exposure:
          include: health,info
  springdoc:
    swagger-ui:
      path: /swagger
  logging:
    level:
      org.springframework.web.servlet.DispatcherServlet: debug

server:
  port: 8080
